h1 {
    font-size: 32px;
    line-height: calc(1.2 * font-size);
    
}

#container {
    position: relative;
    overflow: clip;
    display: flex;
    height: 300px;
}

.slides {
    width: 500px;
    height: 250px;
    display: inherit;
}

.slides img {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 18px;
    padding-right: 18px;
    width: 210px;
    height: 250px;
}

.slides p {
    width: 210px;
}